@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: #bbc6fa;
    max-height: 100vh;
}

.quote-box {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.quote-box button img {
    width: 20px;
    margin-right: 10px;
}

.quote-box button:nth-child(2) {
    background: transparent;
    color: #333;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .quote-box {
        width: 400px;
        padding: 15px;
        top: 50%;
        left: 50%;
    }

    .quote-box h2 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .quote-box blockquote {
        font-size: 14px;
        min-height: 30px;
    }

    .quote-box span {
        font-size: 12px;
    }

    .quote-box button {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .quote-box {
        width: 500px;
        padding: 15px;
        top: 55%;
        left: 50%;
    }

    .quote-box h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .quote-box blockquote {
        font-size: 16px;
        min-height: 50px;
    }

    .quote-box span {
        font-size: 12px;
    }

    .quote-box button {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .quote-box {
        width: 700px;
        padding: 15px;
        top: 63%;
        left: 50%;
    }

    .quote-box h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .quote-box blockquote {
        font-size: 18px;
        min-height: 70px;
    }

    .quote-box span {
        font-size: 14px;
    }

    .quote-box button {
        width: 110px;
        height: 45px;
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .quote-box {
        width: 900px;
        padding: 15px;
        top: 50%;
        left: 50%;
    }

    .quote-box h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .quote-box blockquote {
        font-size: 20px;
        min-height: 70px;
    }

    .quote-box span {
        font-size: 16px;
    }

    .quote-box button {
        width: 120px;
        height: 50px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .quote-box {
        width: 1100px;
        padding: 15px;
        top: 50%;
        left: 50%;
    }

    .quote-box h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .quote-box blockquote {
        font-size: 25px;
        min-height: 90px;
    }

    .quote-box span {
        font-size: 16x;
    }

    .quote-box button {
        width: 130px;
        height: 50px;
        font-size: 16px;
    }
}
